<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Plot Details</title>
  </head>
  <body>

  {% include 'head.html' %}
{% include 'menu.html' %}

<table align="center" border="2" bgcolor="silver" style="margin-top: 150px;">
    <tr>
        <td>Plotno</td>
        <td>Roadno</td>
        <td>Surveyno</td>
        <td>Costpersqyard</td>
        <td>Otherexpences</td>
        <td>Boundaries</td>
        <td>Facing</td>
        <td>Status</td>
        <td>Total Cost</td>
    </tr>
    <tr bgcolor="#ffe4c4" align="center">
        <td>{{ object.plotno }}</td>
        <td>{{ object.roadno }}</td>
        <td>{{ object.surveyno }}</td>
        <td>{{ object.costpersqyard }}</td>
        <td>{{ object.otherexpences }}</td>
        <td>{{ object.boundaries }}</td>
        <td>{{ object.facing }}</td>
        <td>{{ object.status }}</td>
        <td>{{ object.totalcost }}</td>
    </tr>
</table>
        <th>
            <form action="{% url 'home' %}" method="post" style="text-align: center">
                {% csrf_token %}
                <button type="submit" style="text-align: center">Back</button>
            </form>
        </th>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>