{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="{% static 'images/Blue-Wallpaper-For-Background-19.jpg' %}">
{#<body background="{% static 'images/HauntingDishonestArchaeopteryx-size_restricted.gif' %}">#}
{#<body background="{% static 'images/pexels-photo-259915.jpeg' %}">#}


<table  style="margin-top: 50px;" align="center">
    <tr><th  ><img width="150" src="{% static 'images/home.png' %}"></th><th><h1 style="margin-top: 25px; font-family: Algerian; color: #f5dd5d">ONLINE PROPERTY SALE</h1></th></tr>
</table>

</body>
</html>