<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title> allemp</title>
  </head>
  <body>

  {% include 'head.html' %}
{% include 'menu.html' %}

  <div class="container" style="margin-top: 100px">
    <table align="center">
        <tr bgcolor="#d2b48c" align="center">
            <th width="150">Select Pay</th>
            <th width="150px"> Plot No</th>
            <th width="150px"> Sale Value</th>
            <th width="150px"> Advance</th>
            <th width="150px"> Balance</th>
            <th width="150px"> Sold To</th>
            <th width="150px"> Installment</th>
            <th width="150px"> Date Of Sale</th>

        </tr>

        {% for x in data %}
            <form action="/payview/" method="post">
            {% csrf_token %}


            <tr bgcolor="#bc8f8f" align="center">
            <th  width="50px"> <center><input  type="radio" value="{{ x.plotno }}" name="pay"></center></th>
            <th width="150px"> {{ x.plotno }}</th>
            <th width="150px">{{ x.salevalue }}</th>
            <th width="150px">{{ x.advance }}</th>
            <th width="150px">{{ x.balance }}</th>
            <th width="150px">{{ x.soldto }}</th>
            <th width="150px">{{ x.installment }}</th>
            <th width="150px">{{ x.dateofsale }}</th>

        </tr>
        {% endfor %}
    <tr align="center"><th colspan="9"><input type="submit" class="btn btn-outline-success" value="Make Payment"></th></tr>
    </form>


    </table>
  <form action="{% url 'home' %}" method="post" style="text-align: center">
        {% csrf_token %}
  <tr>
     <th colspan="2">

           <center> <button type="submit" class="btn btn-outline-success">Back</button></center>

        </th>
  </tr>
        </form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>